web:
  secret: '{secret}'
  host: '{host}'
  port: {port}
  uv_kwargs:
    use_colors: false
    timeout_keep_alive: 60
    ssl_cert_reqs: {ssl_cert_reqs}
    ssl_certfile: '{ssl_certfile}'
    ssl_keyfile: '{ssl_keyfile}'
    ssl_ca_certs: '{ssl_ca_certs}'

storage:
  db_path: '{db_path}'

logger:
  log_dir: '{log_dir}'

worker:
  work_dir: '{work_dir}'

pylogger:
  version: 1
  disable_existing_loggers: false
  formatters:
    simple:
      format: '[%(asctime)s - %(levelname)s - line(%(lineno)d) - %(filename)s]: %(message)s'
      datefmt: '%Y-%m-%d %H:%M:%S'
  handlers:
    console:
      class: 'logging.StreamHandler'
      level: 'DEBUG'
      formatter: 'simple'
      stream: 'ext://sys.stdout'
  loggers:
    cronweb:
      level: '{log_level}'
      handlers:
        - 'console'
      propagate: 'no'
